<!DOCTYPE html>
<html>
<head>
	<title>Register Email_id Page</title>
</head>
<body>
		<h1>Welcome to Email registration Page</h1>
		<form>
			   <div class="form-group col-md-6">
      				<!-- <label for="inputEmail4">Email</label> -->
      				<input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    		  </div>
			  <div class="form-row">
				    <div class="col">
				      <input type="text" class="form-control" placeholder="First name">
				    </div>
				    <div class="col">
				      <input type="text" class="form-control" placeholder="Last name">
				    </div>
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
</body>
</html>